@font-face{

    font-family: "Inter";
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root{
    --azul-gameon: #77B3E2;
}

/* Reset de CSS - Limpa configurações padrão que atrapalham */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container-grid{
    width: 90vw;
    max-width: 100%;
    margin: 0 auto;
}

header{
    /* position: fixed; */
    background-color: #1E4A6C;
    width: 100%;
    
}

header .container-grid{
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{ 
    width: 250px;
    align-items: center;
}

.menu{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: white;
    font-size: 18px;
}

.menu a{ /*para mexer nas letras do menu*/
    color: white;
    font-size: 18px;
    font-family: "Inter";

    text-decoration: underline transparent;  /*Para tirar a linha padrão que fica de baixo da letra */
    text-decoration-thickness: 2px; /*stroke igual do figma */

    text-transform: uppercase;
}

.menu a:hover{
    color: black;
    font-size: 20px;

    transition: text-decoration 500ms ease;
}

.banner img{
    height: 750px;
    width: 100%;
    padding: inherit;
    
    background-repeat: no-repeat;
    background-position: center;

}

.conteudo-banner{
    height: 300px;
    background: rgb(63,157,229);
    background: linear-gradient(90deg, rgba(63,157,229,1) 00%, rgba(156,191,218,1) 100%);

    margin-top: -10px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


}

.conteudo-banner p{
    color: black;
  
    width: 100%;

    font-family: "Montserrat";
    font-size: 45px;

    display: flex;
    
    justify-content: center;
}

.conteudo-2 p{
    font-family: "Montserrat";
    font-size: 30px;
    padding-top: 50px;
}

section #sobre{    
    width: 1000px;
    background-color: red;
    display: flex;
    justify-content: space-around;

}

#sobre{
    height: 600px;

    display: flex;
    align-items: center;

    text-align: center;

    margin-bottom: 100px;
    border-radius: 40px;

    background-color: var(--azul-gameon);

}

.conteudo-sobre{
    width: 50%;
    height: 500px;
    padding-left: 60px;
}

section img{
    padding-left: 50px;
    width: 45%;
    height: 500px;

}

#sobre h2{
    font-family: "Inter";
    font-size: 30px;

    padding-top: 120px;

    text-transform: uppercase;
}

#sobre p{
    font-family: "Montserrat";
    font-size: 25px;
    
    display: flex;
    text-align: justify;
    align-items: center;
    padding-top: 35px;
    padding-right: 15px;

}

#contato{
    height: 1500px;
    width: 65%;
    margin: 0 auto;


    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 30px;
    
    background-color: #77B3E2;

    margin-bottom: 150px;
    padding-bottom: 100px;
}

#contato h2{
    margin: 15px 0 25px 0;
    
    text-align: center;

    font-family: "Montserrat";
    font-size: 30px;
    text-transform: uppercase;
   
}

#contato img{
   height: 350px;
    display: flex;
    align-items: center;
}


#contato h3{
    font-family: "Montserrat";
    font-weight: unset;
   
    width: 250px;
    text-align: center;
    margin-bottom: 80px;
}



#contato form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 70px;
    align-items: center;
}

.campo{
    margin-bottom: 75px;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#contato form label{
    text-align: center;
    margin-bottom: 7px;
    
    font-family: "Montserrat";
    font-size: 20px;
    color: white;
}

.campo input{
    width: 510px;
    height: 35px;
    
    border: none;
    border-radius: 4px;
    
    font-size: 16px;
    
    background-color: #316B9E;
    
    display: flex;
    align-items: center;
    outline: none;
    
    font-family: "Montserrat";
    color: white;

    text-indent: 10px;
}

.campo input:focus{
    
    outline: 2px solid #ffffff;
}

#contato form input::placeholder{
    color: #dddddd
}

#contato button{
    height: 60px;
    width: 40%;

    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 600;

    border: none;
    border-radius: 4px;

    color: white;
    background-color: #F0843C;

    cursor: pointer;

    text-transform: uppercase; 

    transition: background-color 500ms ease;

}

#contato button:hover{
    background-color: #ad4929;
}

#cases{
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

#cases h2{
    margin-bottom: 70px;
    font-family: "Inter";
    font-size: 30px;
    text-transform: uppercase;
}

.container-cards{
    width: 65%;

    display: flex;
    justify-content: space-between;
}

.card{
    width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    background-color: #77B3E2; 
    border-radius: 10px;
    border: none;

}

.card img{
    height: 55%;
    padding: 25px;
    width: 385px;
    border-radius: 8px;
}

.card p{
    padding: 7%;
    font-family: "Montserrat";
    font-size: 20px;
    color: white;
    margin-bottom: 65px;
}

footer{
    width: 100%;
    height: 700px;
    background-color: #3F9DE5;
}

.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding-top: 110px;
    
    text-align: center;
}

.encontre-nos img{
    height: 70px;
    margin-bottom: 30px;
}

.encontre-nos h3{
    font-family: "Inter";
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.encontre-nos p{
    font-family: "Montserrat";
    font-size: 25px;
    width: 320px;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 70px;
    
}

footer h2{
    font-family: "Inter";
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 120px;
    text-align: center;
    
}

.icones-redes{
    display: flex;
    justify-content: space-between;

    width: 385px;
}

/* RESPANSIVIDADE PARA CELULAR */
@media screen and (max-width: 1500px){
    .container-cards{
        width: 80%;
    }
}


@media screen and (max-width: 1300px){
    section img{
        width: 45%;

    }

    .conteudo-sobre{
        padding-right: 60px;
        padding: 70px;
    }

    #sobre p {
        padding-top: unset;
        padding-right: unset;
    }

    #sobre h2{
        padding-top: unset;
        margin-bottom: 10px;
    }

    .card{
        width: 300px;
    }

    .card img{
        width: 300px;
    }
    
    .container-cards{
        width: 80%;
    }
}

@media screen and (max-width: 1200px){
    .conteudo-sobre{
        padding: 40px;
    }
    
}

@media screen and (max-width: 1000px){
    .conteudo-banner p{
        text-align: center;
    }

    .encontre-nos p{
        height: 50px;
    }

    .rodape{
        flex-direction: column;
    }

    footer{
        height: 1000px;
    }
}

@media screen and (max-width: 900px){
    .conteudo-sobre{
        padding: 10px 0;
    }

    .encontre-nos{
        margin-bottom: 50px;
    }

    footer{
        height: 1150px;
    }

    #sobre{
        flex-direction: column;
        height: 825px; 
    }

    #sobre p{
        margin-top: 20px;
    }

    #section img{
        width: 55%;
    }


    .card{
        width: 270px;
    }

    .card img{
        width: 100%;
    }

    .container-cards{
        width: 100%;
    }

    #contato h2{
        font-size: 22px;
    }

}


@media screen and (max-width: 850px){
    #sobre{
        width: 100%;
        background-color: unset;
        
    }

    #contato{
        width: 100%;
        border-radius: unset;
        margin-bottom: 30px;
    }

    .container-cards{
        justify-content: space-between unset;
        flex-direction: column;
        align-items: center;
    }

    #cases{
        height: 1300px;
    }

    .card{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px){

    .banner img{
        height: 475px;
    }

    .conteudo-banner{
        height: 220px;
        margin-bottom: 20px;

    }
    .conteudo-banner p{
        font-size: 25px;
        margin-bottom: 10px;
        
    }

    .conteudo-2 p{
        font-size: 22px;
    }

    #sobre{
        margin-bottom: unset;
    }

    #sobre h2{
        font-size: 25px;
    }
    #sobre p{
        font-size: 20px;
    }
    section img{
        width: 50%;
        padding-left: unset;
    }

    .conteudo-sobre{
        height: 430px;
    }

    .campo input{
        width: 410px;
    }

    #contato form label{
        width: 350px;
    }

    #cases h2{
        font-size: 25px;
    }

    .encontre-nos img{
        height: 50px;
    }

    .encontre-nos h3{
        font-size: 20px;
    }

    .encontre-nos p{
        font-size: 20px;
    }

    footer h2{
        font-size: 20px;
    }

    .icones-redes svg{
        height: 50px;
    }


}